.sidebar {
  width: 260px;

  ul {
    width: 260px;
  }

  li a {
    height: 48px;
  }

  .project-name {
    font-family: 'Sriracha', cursive;
  }
}

.closed {
  width: 60px;
}


.user-info {
  width: 141px;
}
