<div @introInversedY class="h-screen">
  <div class="flex justify-between w-full px-2 mb-6 items-center">
    <span class="text-xl font-medium">Projects</span>
    <button
      (click)="openModal()"
      class="bg-gradient-to-tr font-medium from-pink-600 h-8 hover:from-pink-500 hover:to-pink-500 px-4 rounded-full shadow-lg text-sm text-white to-pink-500">
      Create project
    </button>
  </div>
  <ng-container *ngIf="projectList$ | async as projectList; else loading">
    <div class="project-grid" @introStaggedX>
      <app-project-card
        @introX
        [project]="project"
        (editProject)="openModal($event)"
        (deleteProject)="deleteProject($event)"
        *ngFor="let project of projectList; trackBy: trackByProjectId">
      </app-project-card>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <h1>Loading...</h1>
</ng-template>
