<div class="flex justify-end gap-1 items-center mt-2 text-gray-600 intro-y">
  <span>Items per page:</span>

  <div class="inline-block relative mr-2 -intro-x">
    <select
      [ngModel]="limit$ | async"
      (ngModelChange)="changeLimit($event)"
      class="block appearance-none w-full bg-transparent border-b-2 border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 leading-tight focus:outline-none focus:shadow-outline">
      <option *ngFor="let limit of limits" [value]="limit"> {{limit}} </option>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>

  <span>{{ paginationPage$ | async }}</span> of <span>{{ totalPages$ |async }}</span>
  <button class="arrow-btn -intro-x" [disabled]="isFirstPage$ | async" (click)="changePage(-1)">
    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </button>
  <button class="arrow-btn -intro-x" [disabled]="isLastPage$ | async" (click)="changePage(1)">
    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </button>
</div>
