<article class="relative w-full duration-700 text-xs py-3 px-3 bg-white h-auto border-solid border-2 rounded border-gray-200 hover:shadow hover:bg-gray-100">
  <div class="flex text-gray-700 mb-2">
    <span class="text-black mr-2">{{ task.id }}</span>
    <p>{{ task.title }}</p>
  </div>
  <div class="flex items-center" *ngIf="task.assigned">
    <img class="w-8 h-8 rounded-full mr-4" [src]="task.assigned.image" >
    <p class="text-gray-600 truncate leading-none">{{task.assigned.name}}</p>
  </div>
  <div class="flex items-center">
    <span class="text-gray-600 mr-2">Estado:</span>
    <div [ngClass]="taskStateCSSClass" class="rounded-full w-2 h-2 bg-gr mr-2"></div>
    <span class="uppercase"> {{task.state.label}} </span>
  </div>
  <button class="absolute px-2 py-2 duration-500 rounded">
    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
    </svg>
  </button>
</article>
