<section class="gap-4 rounded h-40 flex flex-row w-full">
  <div class="w-1/4 bg-gray-100 rounded h-full flex flex-col p-2">
    <span class="text-6xl text-black">56</span>
    <span class="text-sm text-gray-600">Open issues</span>
  </div>
  <div class="w-1/4 bg-gray-100 rounded h-full flex flex-col p-2">
    <span class="text-6xl text-black">5</span>
    <span class="text-sm text-gray-600">Projects</span>
  </div>
  <div class="w-1/4 bg-gray-100 rounded h-full flex flex-col p-2">
    <span class="text-6xl text-black">28%</span>
    <span class="text-sm text-gray-600">Closed Issue</span>
  </div>
  <div class="w-1/4 bg-gray-100 rounded h-full flex flex-col p-2">
    <span class="text-6xl text-black">3</span>
    <span class="text-sm text-gray-600">Members</span>
  </div>
</section>
