<div class="col-span-12 mt-8">
  <div class="intro-y flex items-center h-10">
      <h2 class="text-lg font-medium truncate mr-5">
        General Data
      </h2>
  </div>
</div>

<div class="grid grid-cols-12 gap-6 mt-5">
  <div class="col-span-12 sm:col-span-3 xl:col-span-3 intro-y">
      <div class="report-box zoom-in">
          <div class="box p-4">
              <div class="flex">
                <svg
                  class="w-8 text-teal-700"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  />
                </svg>
                <div class="ml-auto">
                    <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer" title="33% Higher than last month"> 33% <i data-feather="chevron-up" class="w-4 h-4"></i> </div>
                </div>
              </div>
              <div class="text-3xl font-bold leading-8 mt-6">56</div>
              <div class="text-base text-gray-600 mt-1">Open issues</div>
          </div>
      </div>
  </div>
  <div class="col-span-12 sm:col-span-3 xl:col-span-3 intro-y">
      <div class="report-box zoom-in">
          <div class="box p-4">
              <div class="flex">
                  <svg
                    class="w-8 text-teal-700"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z"
                    />
                  </svg>
                  <div class="ml-auto">
                    <div class="report-box__indicator bg-theme-6 tooltip cursor-pointer" title="2% Lower than last month"> 2% <i data-feather="chevron-down" class="w-4 h-4"></i> </div>
                  </div>
              </div>
              <div class="text-3xl font-bold leading-8 mt-6">5</div>
              <div class="text-base text-gray-600 mt-1">Projects</div>
          </div>
      </div>
  </div>
  <div class="col-span-12 sm:col-span-3 xl:col-span-3 intro-y">
      <div class="report-box zoom-in">
          <div class="box p-4">
              <div class="flex">
                <svg
                  class="w-8 text-teal-700"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
                  <div class="ml-auto">
                      <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer" title="12% Higher than last month"> 12% <i data-feather="chevron-up" class="w-4 h-4"></i> </div>
                  </div>
              </div>
              <div class="text-3xl font-bold leading-8 mt-6">3</div>
              <div class="text-base text-gray-600 mt-1">Members</div>
          </div>
      </div>
  </div>
  <div class="col-span-12 sm:col-span-3 xl:col-span-3 intro-y">
      <div class="report-box zoom-in">
          <div class="box p-4">
              <div class="flex">
                <svg class="w-8 text-teal-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                </svg>
                <div class="ml-auto">
                    <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer" title="22% Higher than last month"> 22% <i data-feather="chevron-up" class="w-4 h-4"></i> </div>
                </div>
              </div>
              <div class="text-3xl font-bold leading-8 mt-6">28%</div>
              <div class="text-base text-gray-600 mt-1">Closed issues</div>
          </div>
      </div>
  </div>
</div>
