
.kanban-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(16rem, 1fr);
  overflow: auto;
  height: 91vh;
  transition-property: height;
  transition: .5s ease-in-out;
}

.filters-shown {
  height: 84vh;
}

.kanban-column-bg {
  background-color: rgba(241, 245, 248, var(--bg-opacity));
}
