<section class="w-screen flex mb-4 items-center">
  <div class="inline-block relative mr-8 w-64">
    <input class=" block shadow appearance-none border rounded w-full py-2 px-3 pl-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Search by username, issue title or number">
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-2 text-gray-700">
      <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </div>
  </div>

  <div class="flex flex-row mr-8">
    <img class="w-8 h-8 rounded-full" style="z-index:3" src="https://pbs.twimg.com/profile_images/872745468115156992/JGulyXUY_400x400.jpg" >
    <img class="w-8 h-8 rounded-full  -ml-2" style="z-index:2" src="https://rxjs-dev.firebaseapp.com/assets/images/logos/Rx_Logo_S.png" >
    <img class="w-8 h-8 rounded-full -ml-2" style="z-index:1" src="https://angular.io/assets/images/logos/angular/angular.svg" >
  </div>

  <div class="flex flex-row gap-4">
    <div class="inline-block relative w-64">
      <select class="block appearance-none w-full bg-white text-gray-700 border px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option>All</option>
        <option>Only my issues</option>
        <option>Pendant</option>
        <option>Exclude complete and closed</option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  </div>
</section>
