<div class="flex gap-8  mb-4 items-center justify-between">
  <div class="inline-block relative w-64">
    <select class="appearance-none block border-black focus:outline-none focus:shadow-outline hover:border-gray-500 pl-2 pr-8 py-2 text-xl font-medium w-full">
      <option>Reactive kanban</option>
      <option>Other Project</option>
      <option>Project selection</option>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>
  <ng-content></ng-content>
</div>
