<div class="w-full inline-flex fixed bg-white border-b-2 border-solid text-black items-center px-2 text-center">
  <a (click)="burgerClick()" class="py-3 px-3 rounded cursor-pointer hover:bg-gray-200 mr-4">
    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
    </svg>
  </a>
  <div class="text-xl text-left uppercase">
    Dashboard
  </div>
</div>
