<app-project-selector>
  <div class="flex gap-4">
    <app-icon-checkbox class="text-pink-600 hover:bg-gray-200" [formControl]="control">
      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
      </svg>
    </app-icon-checkbox>
    <button class="rounded text-pink-600 p-2 hover:bg-gray-200 duration-300" [contextualMenu]="settings">
      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
    </button>
  </div>
</app-project-selector>

<div *ngIf="showFilters$ | async" @inOutAnimation>
  <app-task-filters (filtersChanges)="filtersChanges($event)"></app-task-filters>
</div>
<app-kanban-column-list [taskList]="taskList$ | async" [isFiltersShown]="showFilters$ | async"></app-kanban-column-list>

<ng-template #settings>
  <app-contextual-menu>
    <ul>
      <li class="hover:bg-gray-100 p-2 cursor-pointer rounded duration-300">Edit board</li>
    </ul>
  </app-contextual-menu>
</ng-template>
