<article class="bg-gray-200 cursor-pointer flex flex-row flex-wrap h-32 hover:shadow-md p-2 relative rounded shadow w-full text-gray-600">

  <div class="font-semibold h-0 text-gray-700 text-lg w-full">Project Kanban</div>
  <div class="flex flex-row items-center h-0 gap-6">
    <span class="text-gray-500"> Team members: </span>
    <div class="flex flex-row">
      <img class="w-8 h-8 rounded-full" style="z-index:3" src="https://pbs.twimg.com/profile_images/1305523485750579200/iTA80rdo_400x400.jpg" >
      <img class="w-8 h-8 rounded-full  -ml-2" style="z-index:2" src="https://rxjs-dev.firebaseapp.com/assets/images/logos/Rx_Logo_S.png" >
      <img class="w-8 h-8 rounded-full -ml-2" style="z-index:1" src="https://angular.io/assets/images/logos/angular/angular.svg" >
    </div>
  </div>

  <div class="project-summary absolute flex gap-1 items-center justify-end w-full">
    <svg class="h-4 w-4 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
    </svg>
    <span>18</span>
    <svg class="h-4 w-4 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
    </svg>
    <span>10</span>
    <svg class="h-4 w-4 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>2</span>

  </div>

  <button class="absolute px-2 py-2 text-black sm:duration-500 rounded right-0" [contextualMenu]="projectOptions" horizontalPosition="right">
    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
    </svg>
  </button>
</article>

<ng-template #projectOptions>
  <app-contextual-menu>
    <ul>
      <li class="hover:bg-gray-100 p-2 cursor-pointer rounded duration-300">Edit project</li>
      <li class="hover:bg-gray-100 p-2 cursor-pointer rounded duration-300">Remove project</li>
    </ul>
  </app-contextual-menu>
</ng-template>
