/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
@import "@ng-select/ng-select/themes/default.theme.css";
@import '@angular/cdk/overlay-prebuilt.css';

.container-view {
  height: calc(100vh - 46px);
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: center;
}

.cdk-drop-list-dragging .cdk-drag {
  @apply duration-300;
  @apply transition-transform;
}
