<section>
  <app-project-selector (select)="getIssuesByProject($event)">

    <div class="flex items-center gap-3">
      <app-icon-checkbox class="text-pink-600" [formControl]="control">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
        </svg>
      </app-icon-checkbox>

      <button (click)="openBacklogModal()" class="bg-gradient-to-tr font-medium from-pink-600 h-8 hover:from-pink-500 hover:to-pink-500 px-4 rounded-full shadow-lg text-sm text-white to-pink-500">
        Create Issue
      </button>
    </div>
  </app-project-selector>

  <div *ngIf="showFilters$ | async" @inOutAnimation>
    <app-task-filters (filtersChanges)="filtersChanges($event)"></app-task-filters>
  </div>
  <ng-container *ngIf="taskListLoaded$; else projectWithoutIssues">
    <app-backlog-list [taskList]="taskList$ | async" (issueDroped)="issueDropped($event)"></app-backlog-list>
    <app-paginator [total]="totalIssue$ | async" (pagination)="pagination($event)"></app-paginator>
  </ng-container>
</section>

<ng-template #projectWithoutIssues>
  <p>This project has not issues, click on create issue button to create one.</p>
</ng-template>
